<h1>スケジュールを追加</h1>

<%= form_with model: [@room, @schedule], local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, "開始時間" %>
    <%= f.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time, "終了時間" %>
    <%= f.datetime_select :end_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "詳細" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost, "費用" %>
    <%= f.number_field :cost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reference_url, "参考URL" %>
    <%= f.text_field :reference_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :latitude, "緯度" %>
    <%= f.number_field :latitude, step: 0.000001, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :longitude, "経度" %>
    <%= f.number_field :longitude, step: 0.000001, class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit "スケジュールを追加", class: "btn btn-success" %>
  </div>
<% end %>

<div class="card">
  <div class="card-header bg-primary text-white">
    <h2 class="h5 mb-0">候補一覧</h2>
  </div>
  <div class="card-body">
    <% if @room.locations.any? %>
      <ul class="list-group">
              <% @room.locations.each do |location| %>
                <li class="list-group-item">
                  <strong><%= location.title %></strong><br>
                  <%= button_to 'スケジュールに追加', add_from_location_room_schedules_path(@room, location_id: location.id), method: :post %>
                  <span class="text-muted">
                    <%= location.start_time.strftime("%Y-%m-%d %H:%M") %> 〜 <%= location.end_time.strftime("%Y-%m-%d %H:%M") %>
                  </span>
                  <p class="mt-2"><%= location.description %></p>
                  <p><strong>コスト:</strong> <%= location.cost %>円</p>
                  <%= link_to '詳細を表示', room_location_path(location.room, location), class: 'btn btn-info btn-sm' %>
                </li>
              <% end %>
      </ul>
    <% else %>
      <p class="text-muted">候補地がまだありません。</p>
    <% end %>
  </div>
</div>
