    <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="d-flex justify-content-between">
      <h1><%= link_to root_path, class: "masthead-brand text-decoration-none  main-text-color roboto-thin" do %>
        OUR TRIP
      <% end %></h1>
      <nav class="nav nav-masthead">
        <%= link_to current_user.nickname, "#", class: "nav-link active" %>
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link btn'%>
      </nav>
    </div>
  </header>
  </div>

<div class="container mt-5">
  <div class="row gy-2">
    <% current_user.rooms.each do |room| %>
      <div class="col-md-3">
        <%= link_to room_path(room), class: "text-decoration-none" do %>
          <div class="card border-secondary h-100" style="aspect-ratio: 1;">
            <div class="card-body p-3 d-flex flex-column">
              <h5 class="card-title text-dark"><%= room.room_name %></h5>
              <% if room.start_time.present? && room.end_time.present? %>
                <p class="text-muted">
                  <%= room.start_time.strftime("%Y/%m/%d") %> ~ <%= room.end_time.strftime("%Y/%m/%d") %>
                </p>
              <% else %>
                <p class="text-muted">日付未設定</p>
              <% end %>
            </div>
            <span class="stretched-link"></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-3">
      <%= link_to new_room_path, class: "text-decoration-none" do %>
        <div class="card border-primary text-center h-100" style="aspect-ratio: 1;">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <%= image_tag 'plus-icon.png', alt:'+', size:'50x50' %>
            <p class="mt-2 text-primary">しおりを作成する</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

