<h1><%= @room.room_name %></h1>
<%= link_to "Edit", edit_room_path(@room), class: "btn btn-primary" %>
<%= button_to '退出', leave_room_path(@room), method: :delete, data: { confirm: "本当に退出しますか？" }, class: "btn btn-danger" %>
<div class="room-content">
  <!-- 左側: しおり一覧 -->
  <div class="schedules">
    <h2>Schedules</h2>
        <p>タイトル: <%= @room.room_name %></p>
        <p>説明: <%= @room.description %></p>
        <p>開始日時: <%= @room.start_time %></p>
        <p>終了日時: <%= @room.end_time %></p>

<h2>スケジュール一覧</h2>
<ul>
  <% @room.schedules.each do |schedule| %>
    <li>
      <strong><%= schedule.title %></strong><br>
      <%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %> 〜 <%= schedule.end_time.strftime("%Y-%m-%d %H:%M") %>
      <p><%= schedule.description %></p>
      <p>コスト: <%= schedule.cost %>円</p>
      <%= link_to '詳細を表示', room_schedule_path(schedule.room, schedule), class: 'btn btn-info' %>
    </li>
  <% end %>
</ul>
    <%= link_to "スケジュールを追加", new_room_schedule_path(@room), class: "btn btn-primary" %>
    
    
  </div>

  <!-- 右側: 行きたい場所・候補一覧 -->
<h2>行きたい場所一覧</h2>
<ul>
  <% @room.locations.each do |location| %>
    <li>
      <strong><%= location.title %></strong><br>
      <%= location.start_time.strftime("%Y-%m-%d %H:%M") %> 〜 <%= location.end_time.strftime("%Y-%m-%d %H:%M") %>
      <p><%= location.description %></p>
      <p>コスト: <%= location.cost %>円</p>
    </li>
  <% end %>
</ul>

<%= link_to "行きたい場所を追加", new_room_location_path(@room), class: "btn btn-primary" %>
</div>

<%= link_to "もどる", root_path %>